<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WWDC 2016 ScreenSaver Debug App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WWDC 2016 ScreenSaver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E21C4D21D16FC1A00FF2B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E21C4FA1D1703FD00FF2B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5C2925B1D17DE39006C42E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5C2926A1D17DE73006C42E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
